.eleks {
  margin-top: 4rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-bottom: 0.5rem;
}

.eleks::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-eleks);
  transform: translateX(-100%);
  transition: transform var(--speed);
}

.eleks:hover::after {
  transform: translateX(0);
}

.eleks.black svg {
  fill: var(--color-base);
}

.eleks svg {
  fill: var(--color-eleks);
  transition: fill var(--speed-double);
}
