.g {
  pointer-events: bounding-box;
  cursor: pointer;
}
.rect {
  fill: var(--blue-dark);
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
}
.nameG {
  transition: opacity var(--speed), transform var(--speed);
  will-change: transform, opacity;

  &.hidden {
    opacity: 0;
    transform: translateX(-2rem);
  }
}

.value {
  font-size: 1.6rem;
  font-weight: bold;
  alignment-baseline: text-top;
}

.percent {
  fill: var(--orange);
}

.coFinanced {
  fill: var(--orange);
  font-size: 1.4rem;
}

.line {
  stroke: var(--gray);
}
