.rect {
  fill: var(--blue-dark);
}

.name {
  font-size: 1.4rem;
  fill: var(--color-base);
  font-weight: bold;
}

.value {
  @extend .name;
  alignment-baseline: top;
}

.percent {
  fill: var(--orange);
}

.coFinanced {
  fill: var(--orange);
  font-size: 1.4rem;
}

.line {
  stroke: var(--gray);
}
