.text {
  font-size: 1.4rem;
  line-height: 1.6rem;
  alignment-baseline: middle;
  cursor: default;
}
.circle {
  transition: all var(--speed);
}

.textBlock {
  transition: transform var(--speed), opacity var(--speed);
}

.info.hidden {
  & .circle {
    transform: scale(0.5) translateX(-2rem);
    opacity: 0;
  }

  & .textBlock {
    transform: translateX(-3rem);
    opacity: 0;
  }
}
