.block {
  margin: 5rem auto;
  align-items: center;
  text-align: center;
}

.donut {
  margin: 6rem;
}

.total {
  font-weight: bold;
  text-anchor: middle;
  display: block;
  font-size: 1.3rem;
}
