.block {
  margin: 5rem auto;
  align-items: center;
  text-align: center;
}

.piece {
  cursor: pointer;
  pointer-events: bounding-box;
}

.piece:not(:hover) {
  pointer-events: none;
}

.donut {
  pointer-events: all;
}

.piecePath {
  transition: transform var(--speed);
  pointer-events: all;
}

.total {
  font-weight: bold;
  text-anchor: middle;
  display: block;
  font-size: 1.3rem;
  align-items: center;
  /*pointer-events: none;*/
}

.line {
  fill: currentColor;
  stroke: currentColor;
  transition: all var(--speed);
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2em;
}

.percent {
  font-size: 1.2rem;
  font-weight: normal;
}
