.block {
  margin: 5rem auto;
  align-items: center;
  text-align: center;
}

.donut {
  margin: 6rem;
}

.total {
  font-weight: bold;
  text-anchor: middle;
  display: block;
  font-size: 1.3rem;
  align-items: center;
}

.line {
  fill: currentColor;
  stroke: currentColor;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2em;
}

.percent {
  font-size: 1.2rem;
  font-weight: normal;
}
