@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --font: "Noto Sans", sans-serif;
  --color-base: #010202;
  --color-bg: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --header-size: 10rem;

  /*transition*/
  --speed: 0.28s;
  --delay-diff: 0.05s;

  /*colors from the colors.ts*/
  --gray: #cacaca;
}

body,
html {
  font-size: 10px;
  font-family: var(--font);
  color: var(--color-base);
  background: var(--font);
}

header {
  height: var(--header-size);
  text-align: center;
  line-height: var(--header-size);
  font-size: 4rem;
}
