@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --font: "Noto Sans", sans-serif;
  --color-base: #010202;
  --color-bg: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.5);

  /*transition*/
  --speed: 0.28s;
  --speed-double: calc(var(--speed) * 2);
  --delay-diff: 0.05s;

  /*colors from the colors.ts*/
  --gray: #cacaca;
  --blue-dark: #02529e;
}

body,
html {
  font-size: 10px;
  font-family: var(--font);
  color: var(--color-base);
  background: var(--font);
}
