@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font: "Roboto", sans-serif;
  --color-base: #010202;
  --color-bg: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.5);

  /*transition*/
  --speed: 0.28s;
  --speed-double: calc(var(--speed) * 2);
  --delay-diff: 0.05s;

  /*colors from the colors.ts*/
  --gray: #cacaca;
  --gray-dark: #7c7c7c;
  --blue-dark: #02529e;
  --orange: #e75c23;
  --orange-light: #f4a16b;

  /*sizes*/
  --main: 1000px;
  --padding: 7rem;
}

body,
html {
  font-size: 10px;
  font-family: var(--font);
  color: var(--color-base);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 2.4rem;
}

.App {
  text-align: center;
}

section {
  padding: var(--padding) 0;
}

main {
  width: var(--main);
  margin: 0 auto;
}

.charts {
  display: flex;
  justify-content: space-between;
}
